#navbar{
    background-image: linear-gradient(to bottom right, rgba(30, 0, 255, 0.9), rgba(16, 185, 232, 0.6));
    border-radius: 10px;
    margin: 5px;
}

@keyframes comein {
    0% {
        transform: scale(0);
    }
    50% {
        transform: scale(1);
    }
}

.card, .form-control {
    animation-name: comein;
    animation-duration: 0.3s;
    animation-fill-mode: forwards;
    background: rgba(255, 255, 255, 0.4);
}

.top-likes-card {
    background: linear-gradient(to top left, #6dddff, rgba(8, 155, 86, 0.7));
}

body {
    background-image: url('background2.jpg');
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}

.navbar-item {
    margin-right: 40px;
    margin-left: 5px;
}

@keyframes heartbeat {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.30);
    }
    100% {
        transform: scale(1);
    }
}

.heartbeat {
    animation-name: heartbeat;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}

@keyframes shake {
    0% { transform: translateX(0); }
    25% { transform: translateX(-20px); }
    50% { transform: translateX(20px); }
    75% { transform: translateX(-10px); }
    100% { transform: translateX(0); }
}

.shake {
    animation: shake 0.3s ease-in-out;
    background: rgba(250, 132, 132, 0.4);
}

.favorites-circle {
    width: 80px;
    height: 80px;
    background: linear-gradient(to top left, #6dddff, rgba(8, 155, 86, 0.7));
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
    color: #fff;
    font-size: 40px;
    font-weight: bold;
}

.table {
    animation-name: comein;
    animation-duration: 0.3s;
    animation-fill-mode: forwards;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); 
}

.table td, .table th {
    font-size: 18px;
    padding: 10px;
    height: 80px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    background: rgba(255, 255, 255, 0.2);
}

.table th {
    max-height: 10px;
    color: white;
    background: rgba(8, 155, 86, 0.4);
}

iframe {
    border-radius: 10px; /* Puedes ajustar el valor según tus preferencias */
}