#navbar{
    background-image: linear-gradient(to bottom right, rgba(30, 0, 255, 0.95), rgba(16, 185, 232, 0.95));
    border-radius: 10px;
    margin: 5px;
}

.top-likes-card {
    background: linear-gradient(to top left, #6dddff, rgb(8, 155, 86));
}
